/* Add styling for your page here */

.App {
}

.BakeryItem {
  width: 25%;
}
img {
  width: 25%;
}
.bakery_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: aliceblue;
  width: 40%;
  height: 50%;
  margin: 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
