/* Add styling for your page here */

.App {
}

.BakeryItem {
  width: 25%;
}
img {
  width: 25%;
}
.bakery_item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: aliceblue;
  width: 25%;
  height: 25%;
  margin: 5px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.half {
    display: flex;
    flex-direction: row;
    width: 75%;
}
.cart {
    text-align: center;
}
